@st-import Button from './button.st.css';

.root {
    background-color: red;
}

.btn1 {
    -st-extends: Button;
    background: green;
}

.btn2 {
    -st-extends: Button;
    background: fuchsia;
}
