:import {
    -st-from: "./my-mixins.ts";
    -st-named: paramlessMixin, paramfulMixin, paramlessFormatter, formatterWithParams;
    -st-default: mixin;
}

:import {
    -st-from: "./js-mixins.js";
    -st-named: aMixin, aBareMixin, aFormatter, aFormatterWithParams;
}

.myClass {
    color: |
}
