:import {
    -st-from: "./my-mixins.ts";
    -st-named: paramlessMixin, paramfulMixin;
}

:import {
    -st-from: "./my-mixins.js";
    -st-named: aMixin, aBareMixin;
}

.myClass {
    -st-mixin: paramfulMixin(|)
}
