:import {
    -st-from: "./my-mixins.ts";
    -st-named: paramlessMixin, paramfulMixin;
}

:import {
    -st-from: "./js-mixins.js";
    -st-named: aMixin, aBareMixin;
}

.myClass {
    -st-mixin: paramfulMixin('25','aaa','a'), |
}
