<header>
    <div class="header-content">
        <label class="menu-icon" for="menu">
    </label>
        <a href="{{ site.baseurl }}/"><div class="logo"></div>
            </a>

        <ul class="main-nav">
            <li><a href="https://github.com/wix/stylable" target="_blank"><div class="logo-git"></div></a></li>
        </ul>
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109043375-1"></script>
    <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
       gtag('config', 'UA-109043375-1');
    </script>
</header>
