@st-import CompX from "./comp-x.st.css";
:import {
    -st-from: "./comp.st.css";
    -st-default: Comp;
}

.root {
    -st-extends: Comp;
    color: green;
}

.part {
    -st-extends: CompX;
    color: purple;
}
