@st-import [Label] from "test-components/index.st.css";

.root {
    background-color: red;
}

.lbl1 {
    -st-extends: Label;
    background: green
}

.lbl2 {
    -st-extends: Label;
    background: fuchsia
}

