@namespace "Button";
:vars {
    wonderRed: #F012BE;
}
.root {
    background: #b0e0e6;
}
.icon {
    background-image: url(./assets/btnIcon.svg);
}
.label {
    font-size: 16px;
    color: rgba(81, 12, 68, 1.0)
}
.cancelButton {
    -st-extends: root;
    -st-variant: true;
    color: value(wonderRed);
}