@namespace "Project";
:vars {
    red1: #F012BE;
    red2: #FF4136;
    grey1: #DDDDDD;
    blue1: #7FDBFF;
    blue2: #0074D9;
}
:import {
    -st-from: './button.st.css';
    -st-default: Button;
}
.cancelButton {
    -st-extends: Button;
    -st-variant: true;
    color: value(red2);
}
.submitButton {
    -st-extends: Button;
    -st-variant: true;
    color: value(grey1);
    background: value(blue1);
}
