:import {
    -st-from: "../mixins/my-mixins.ts";
    -st-named: paramlessMixin, paramfulMixin, paramlessFormatter;
}

:import {
    -st-from: "../mixins/js-mixins.js";
    -st-named: aMixin, aBareMixin, aFormatter;
}

.local {
    color: paramlessFormat|ter();
    background-color: aFormatter(a,b,45);
}
