.react-logo {
  height: 80px;
}

.stylable-logo {
  height: 80px;
  width: 55px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}
