:import {
    -st-from: "./other.st.css";
    -st-default: Other;
}

:import {
    -st-from: "./not-direct.st.css";
    -st-named: Other as NotDirect;
}

.root {
    -st-extends: Other;
    background-color: green;
}

.notDirect {
    -st-extends: NotDirect;
}
