@st-import Other from "./other.st.css";

@st-import [Other as NotDirect] from "./not-direct.st.css";

.root {
    -st-extends: Other;
    background-color: green;
}

.notDirect {
    -st-extends: NotDirect;
}
