:import {
    -st-from: "./other.st.css";
    -st-default: Blah;
}

:import {
    -st-from: "./not-direct.st.css";
    -st-named: Blah as NotDirect;
}

.notDirect {
    -st-extends: NotDirect;
}

.root {
    -st-extends: Blah;
    background-color: green;
}
