
:import {
    -st-from: "project";
    -st-default: Project;
}

:import {
    -st-from: "../dyn.st.css";
    -st-default: Style;
}

.z {
    background: url('../asset.jpg');
    background: url("/asset-in-root.png");    
}