/* stylable-native-css:C:\projects\stylable\packages\esbuild\test\e2e\simple-case\reset.css */





/* stylable-css:C:\projects\stylable\packages\esbuild\test\e2e\simple-case\a.st.css */

.a256335728__root {
  color: red;
}

body {
  --reset: true;
  margin: 0;
  padding: 0;
}
/* stylable-css:C:\projects\stylable\packages\esbuild\test\e2e\simple-case\side-effects.st.css */

body {
  font-size: 100px;
  --side-effects: true;
  background: url(./asset-BXX5TJGJ.png);
}
/* stylable-css:C:\projects\stylable\packages\esbuild\test\e2e\simple-case\b.st.css */

.b2219817027__root {
  color: green;
}
