/**************/
/*** GLOBAL ***/
/**************/

*{
    box-sizing: border-box;
}
body {
    overflow-y: scroll;
    padding-top: 85px;
}
body, html{
    color: #162d3d;
    background:#f0f3f5;

    width:100%;
    height:100%;

    font-family: HelveticaNeueW01-45, HelveticaNeueW01-45Ligh, sans-serif;;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
}

.main-content{
    height:100%;
    max-width:980px;
    min-height: 100%;
    margin:0 auto;
    padding-bottom: 20px;
    overflow:visible;
}

a {
    color:#4DA1FF;
    text-decoration: none;
}

a:hover {
    color:#83BDFD;
    text-decoration: underline;
}

p { margin-top: 0; } 

h1 {
    font-family: HelveticaNeueW01-45Ligh;
    font-size: 36px;
    font-weight: 100;
    line-height: 1.33em;
    margin-top:0;
}

h2, h3, h4, h5, h6 { margin-bottom: 0.5em;  }

h2 {
    font-family: HelveticaNeueW01-Thin;
    font-size: 24px;
    line-height: 1.2em;
}

h3 {
    font-family: HelveticaNeueW01-Thin;
    font-size: 20px;
    line-height: 1.2em;
}

h2:nth-of-type(n+2)::before {
    content: " ";
    display: block;
    height: 2px;
    background: #F0F4F7;
    margin-bottom: 32px;
}

hr {
    height: 2px;
    border: transparent;
    background: #f0f4f7;
    margin: 16px 0;
}

blockquote{
    margin: 0 0 1em 0;
    padding: 8px 1em;
    background-color: #f4fafe;
    border-left: 3px solid #2b5672;
}
blockquote > p {
    margin:0;
}
blockquote::first-line {
    line-height: 2em;
}

blockquote.warning {
    background-color: #FFD4D4;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #f0f4f7;
}

code.highlighter-rouge {
    background: rgba(254, 240, 186, 0.5);
    color: #162d3d;
}

.block-title {

}

/**************/
/*** HEADER ***/
/**************/

header {
    position:fixed;
    height:65px;
    background:#2e5d4c;
    padding: 0 10px;
    top:0;
    left:0;
    right:0;
    z-index: 10;
}

header > .header-content {
    max-width:980px;
    margin:0 auto;
    display: flex;
    align-items: center;
}

header .logo {
    display: inline-block;
    font-size: 24px;
    color:#FFFFFF;
    text-decoration: none;
}
header .logo a{
    color:inherit;
    text-decoration: inherit;
}
header .logo::before {
    content: " ";
    background: url(../images/96-logo-OnlySymbol.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}
header .main-nav {
    color:#FFFFFF;
    display: inline-block;
    padding: 0;
    margin: 0;
    flex: 1;
    text-align: right;
}
header .main-nav > li{
    display:inline;
}
header .main-nav a{
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 10px;
    height: 65px;
    line-height: 65px;
}

/**************/
/**** PAGE ****/
/**************/

.page-content {
    background:#FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
    padding: 36px 237px 36px 49px;
    min-height: 100%;
    margin-bottom: 20px;
}

/**************/
/**** DOCS ****/
/**************/

.docs-content{
    background:#FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
    padding: 36px;
    min-height: 100%;
    margin-left: 260px;
    margin-bottom: 20px;
}


.docs-nav{
    position: fixed;
    width:250px;
    margin-right:10px;
    overflow:auto;
    max-height: calc( 100% - 105px );
    top: 85px;
}

.docs-nav .docs-nav-item {
    text-decoration: none;
}

.docs-nav .docs-nav-item:hover {
    color: inherit;
}
li.active > .docs-nav-item:hover {
    color: #FFF;
}

.docs-nav-section{
    background:#FFFFFF;
    padding: 0;
    margin-bottom: 12px;
}

.docs-nav-section-header, .docs-nav-item {
    padding: 0 16px;
    width: 100%;
    height: inherit;
    display: block;
}
.docs-nav-section-header, .docs-nav-item {
    min-height: 32px;
    line-height: 32px;
}

.docs-nav-section-header { /*ToDo: remove - leave only h2*/
    margin: 0;
    background: #2b5672;
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.docs-nav-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* nav top level */
.docs-nav-item {
    color:inherit;
    text-decoration: none;
}
li:hover .docs-nav-item{
    background: #eaf7ff;
}
li.active > .docs-nav-item{
    color: #FFFFFF;
    background: #468bb7;
}
/* nav second level */
.docs-nav-subitem {
    padding-left: 32px;
    color: #6f6f6f;
    text-decoration: none;
}
.docs-nav-subitem:hover {
    text-decoration: none;
    color: #4DA4FF;
}
.docs-content h1,
.docs-content h2,
.docs-content h3,
.docs-content h4,
.docs-content h5,
.docs-content h6 {
    position: relative;
    margin-top: -85px;
    padding-top: 85px; 
    pointer-events: none;
}

.docs-content h2 {
    margin-top: -52px;
    padding-top: 52px; 
}
