@st-import [x] from "./not-included.st.css";

@st-import [x as x1] from "./included-via-compse.st.css";

@st-import WithGlobals from "./not-included-explicit-global.st.css";

@st-import [keyframes(x)] from "./included-via-keyframes.st.css";

WithGlobals {}

.root {
    -st-mixin: x;
    -st-extends: x1;
    animation-name: x;
}
