@namespace "Button";

.root {
    -st-states: clicked;
    background: #b0e0e6;
}

.btnIcon {
    border: 2px solid greenyellow;
}

.btnLabel {
    font-size: 16px;
    color: rgba(81, 12, 68, 1.0)
}

:clicked { /* places the state on the root of the component */
    box-shadow: 2px 2px 2px 1px darkslateblue;
}
