@namespace "Button";

.root {
    -st-states: clicked;
    background: #b0e0e6;
    color: black;
    outline: none;
    border: none;
    line-height: 60px;
}

.status {
    border: 2px solid grey;
}

.label {}

.root:clicked {
    background: lightcyan;
}

.root:clicked .status {
    border: 2px solid yellowgreen;
    box-shadow: 0px 0px 1px yellowgreen;
}
