@namespace "Form";

:import {
    -st-from: "./button.st.css";
    -st-default: Button;
}

.root {
    background: floralwhite;
}

.email {}

.password {}

.button {
    -st-extends: Button;
    background: lightgrey;
}

.button::label {
    font-weight: bolder;
}

.button:clicked {
    color: red;
}
