:import {
    -st-from: "test-components/mix.st.css";
    -st-default: Comp;
}

:import {
    -st-from: "test-components/mix.js";
    -st-named: Mixin;
}

.css {
    -st-mixin: Comp;
}

.js {
    -st-mixin: Mixin;
}
