@namespace "Button";

.root {
    -st-states: clicked;
    background: #b0e0e6;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.status {
    border: 2px solid grey;
}

.label {
   line-height: 60px;

}

.root:clicked {
    background: lightcyan;
}

.root:clicked .status {
    border: 2px solid yellowgreen;
    box-shadow: 0px 0px 1px yellowgreen;
}
