@namespace "Project";
:vars {
    color1: #F012BE;
    color2: #FF4136;
    fontBig: 30px;
    fontSmall: 10px;
}
:import {
    -st-from: './button/button.st.css';
    -st-default: Button;
}
.cancelButton {
    -st-extends: Button;
    background: value(color2);
    border: 2px solid indianred;
    box-shadow: 0px 0px 1px indianred;
}
.emphasisBox {
    border: 2px solid firebrick;
}
