:import("party") {
    -st-defualt: Party;
    -st-named: Hot, gaga;
}

:vars {
    myvar: value(gaga);
}

:override {
    gaga: value(myvar);
}

.root {
    color: value(gaga);
}

.Label {
    -st-type: Party;
    -st-apply: Hot;
    background: firebrick;
}
