@st-import [Button] from "test-components/index.st.css";

:vars {
    myValue: red;
}

:global(.global1) {
    background: rgb(128, 128, 128);
}

:global(.global1 .global2) {
    background-color: rgb(228, 228, 228);
}

.root ::part(name) Button {color: gold;}

.root {
    -st-states: /*x state*/ x;
}

.root:x {
    font-family: MyFont;
}

.empty {
    /* empty rule */
}

.used {
    background: rgb(0, 0, 255);
}

Button {
    /* unused component */
    font-size: 1em;
}

@media screen {
    .empty-in-media {
        /* empty rule */
    }
    Button {
        /* unused component */
        font-size: 2em;
    }
}