@st-import [jsColor] from "./js-function.js";

.root {
    font-size: 120px;
    font-family: monospace;
    background: url("./asset.png");
}

.part {
    -st-states: myState;
    background: url("./dog.png");
}

.part:myState {
    color: green;
    border: 5px solid jsColor(yellow);
}
